
<!doctype html>
<html lang="en-gb" class="en-gb">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- LegacyLayout - so you know which layout is being used, since there seem to be two -->
    <!-- 2.10.0.236 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <meta name="author" content="i-bidder.com" />
    <meta property="og:image" content="content/ib/images/site-logo.png"/>
    <title class="notranslate">i-bidder | Bid Online | Commercial, General, Retail Returns auctions</title>
        <link rel="canonical" href="https://www.i-bidder.com/en-gb"/>
    <meta name="description" content="Bid online for commercial and retail lots at the Web&amp;#32s No.1 online auction site.   10,000+ live lots each day!" />
    <meta name="keyword" content="retail returns, commercial auctions, auctions, auction, online auctions, auction house, collectables, auctioneers, live auctions, buy to auction, bidding site, auction software" />
    <!-- Data Layer -->
    <script src="scripts/abhelper.js"></script>
<!-- google data layer --->
<script> window.dataLayer = window.dataLayer || []; 
window.dataLayer.push({
"loggedIn" : "False",
"pageType" : "Homepage",
"modelName" : "HomePage",
"platformCode" : "IB",
"referrer" : "",
"reskinAuctionRegFlow" : "False",
"reskinHomepage" : "False",
"reskinSearchResults" : "False",
"reskinAuctionCalendar" : "False",
"reskinAuctionCatalogue" : "False",
"reskinCurrentLotsTimed" : "False",
"reskinCurrentLotsLiveCompetitive" : "False",
"reskinCurrentLotsLiveAutoBid" : "False",
"reskinCurrentLotsCatalogue" : "False",
"reskinCurrentLotsTender" : "False",
"reskinExpiredLots" : "False",
"reskinAuctioneerDirectory" : "False",
"reskinPriceGuide" : "False",
"reskinHeaderFooter" : "False",
"enhancedSearch" : "False",
});
          processValues([['globalId','uid'],
                         ['lastActivity','timeout'],
                         ['sessionNumber','session'],                  
                         ['pageNumber','counter'],
                         ['sessionId','sessionid'],
                         ['userId','mirror'],
                         ['userStatus','userStatus'],
                         ['auctionAlerts','mirror'],
                         ['watchedItems','mirror']]);
         // check if we have event to fire
         //
         // export processValue for other scripts to add values to ls and datalayer
        window.processValue = processValue;
</script>
    <!-- end data layer  -->
    <script src="en-gb/script-resources.js"></script>
        <!-- then we have the modified Google Analytics code which contains the Optimise code. This needs to be amended for each portal. -->
        <script>
            (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-1419588-3', 'auto');
            ga('require', 'GTM-W9Z45QG');
        </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-57G265B');
    </script>
    <!-- End Google Tag Manager -->
    <!-- FONTS -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="content/sr/css/icon-fonts.css">
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- CSS -->
    <link rel="stylesheet" href="css/global_v_4kaomvxaos7vj1pcp2pijat1kye2qcsvhcyaudwh-me1.css" media="screen"  />
    <link rel="stylesheet" href="css/print_v_mqb_gkvajsg4wxiri4kxv3zc6z2uuawwv6igqheunuo1.css" media="print"  />
    <link rel="stylesheet" href="css/lib/semantic-modal_v_6wxn-zbn3yhqrsjdyzk-emxn_bxxxuftj2rl2nmo_bg1.css" media="screen"  />
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="content/ib/images/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="content/ib/images/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="content/ib/images/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="content/ib/images/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="content/ib/images/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="content/ib/images/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="content/ib/images/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="content/ib/images/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="content/ib/images/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="content/ib/images/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="content/ib/images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="content/ib/images/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="content/ib/images/icons/favicon-16x16.png">
<link rel="icon" href="content/ib/images/icons/favicon.ico">
<link rel='stylesheet prefetch' href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
<link rel="manifest" href="content/ib/images/icons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/content/ib/images/icons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <!-- JS -->
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="scripts/zendeskwidget_v_owm2ywesrxcrxngl3qpmsizgxewoihrw76f-l5yfihq1.js"></script>
            <script type="text/javascript">
                var appInsights = window.appInsights || function (config) {
                    function i(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = "AuthenticatedUserContext", h = "start", c = "stop", l = "Track", a = l + "Event", v = l + "Page", y = u.createElement(o), r, f; y.src = config.url || "scripts/a/ai.0.js"; u.getElementsByTagName(o)[0].parentNode.appendChild(y); try { t.cookie = u.cookie } catch (p) { } for (t.queue = [], t.version = "1.0", r = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; r.length;) i("track" + r.pop()); return i("set" + s), i("clear" + s), i(h + a), i(c + a), i(h + v), i(c + v), i("flush"), config.disableExceptionTracking || (r = "onerror", i("_" + r), f = e[r], e[r] = function (config, i, u, e, o) { var s = f && f(config, i, u, e, o); return s !== !0 && t["_" + r](config, i, u, e, o), s }), t
                }({
                    instrumentationKey: "f803594b-7ce2-472c-a3dc-b97c2aa5ed16"
                    });
                window.appInsights = appInsights;
                appInsights.queue.push(function() {
                    appInsights.context.addTelemetryInitializer(function(envelope) {
                        envelope.tags['ai.cloud.role'] = 'i-bidder.com';
                    });
                });
                appInsights.trackPageView();
            </script>
    <script>
        var recentlyViewedLotsCurrentLanguage = 'en';
    </script>
</head>
<body class="notranslate  " itemscope itemtype="http://schema.org/WebPage"  >
    <script src="js/layout/firstrun_v_ebl2w1dxvk81itsta4lk8-wsw_ycjo-f4f9jeib0sko1.js"></script>
    <script>
            (function () {
                window.Gap = window.Gap || {};
                Gap.Portal = Gap.Portal || {};
                Gap.Portal.UI = Gap.Portal.UI || {};
                Gap.Portal.UI.Culture = 'en-gb';
                Gap.Portal.UI.DecimalSeparator = '.';
                Gap.Portal.UI.NumberGroupSeparator = ',';
                Gap.Portal.UI.ZendeskKey = 'bee2c13f-09a2-499d-aaca-2ba966252c89';
                Gap.Portal.UI.ZendeskDepartmentName = 'Customer Services';
            })();
    </script>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-57G265B" height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager -->
<div id="cookie-banner" class="cookie-banner hide">
    <div>
        <p>Cookies help us deliver our services. By using our services, you agree to our use of cookies.</p>
        <a id="close-cookie" class="button secondary">Accept Cookies</a>
        <a href="en-gb/about-us/legal/cookie-policy.html">Learn More</a>
    </div>
</div>
<header class="primary-header">
    <nav id="portalHeaderHelp" class="top-navigation">
        <ul>
            <li>
                <a class="first-link" href="support_subdomain/hc/en-gb.html" target="_blank">Help</a>
            </li>
            <li>
                <a href="support_subdomain/hc/en-gb/articles/115002179733.html" target="_blank">How to Buy</a>
            </li>
            <li>
                <a href="support_subdomain/hc/en-gb/articles/115002179753.html" target="_blank">How to Sell</a>
            </li>       
            <li>
                <a id="supportChat" class="chat-trigger chat-icon" href="#" target="_blank">Live Chat</a>
            </li>
        </ul>
    </nav>
    <div id="portalHeaderSearch" class="page-outer">
        <div class="inner">
            <toaster-container toaster-options="{'time-out': 8000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
            <h2>
                <a href="index.html">i-bidder<span>.com</span></a>
            </h2>
            <p></p>
            <div class="header-links">
                <div class="menu-toggle icon icon-menu"></div>
                <a rel="nofollow" href="en-gb/my-account.html" onclick="showLoginBox(&#39;/en-gb/my-account&#39;, &#39;/en-gb/my-account/register?callingPageUrl=/en-gb/my-account&#39;); return false;" class="icon my-saleroom"><span>My Bidder</span></a>
                    <span>
                        <a class="button secondary" href="en-gb/my-account/register.html" rel="nofollow">Register</a>
                        <a class="button primary-header-button" href="#" onclick="showLoginBox();" rel="nofollow">Sign in</a>
                    </span>
            </div>
<div class="main-search">
    <fieldset class="lot-search">
        <legend class="hide">Search for lots</legend>
        <form id="main-search-form" class="main-search-form" action="en-gb/search-results.html">
            <label for="main-search-term" aria-label="main-search-term"><span class="a11y">Main Search</span></label>
            <input id="main-search-term" class="main-search-term top-nav-search" name="searchTerm" type="text" placeholder="Search lots..." value="" data-gap-ac-url="/en-gb/lot-search-autocomplete" autocomplete="off" />
            <div class="search-auto-complete recent-search search-panel">
                <div class="container">
                    <h2>Recent searches</h2>
                    <ul class="recent-search-select"></ul>
                    <div class="clear-all">Clear all</div>
                </div>
            </div>
            <div class="search-auto-complete suggested-search search-panel">
                <div class="container">
                    <h2>Suggested searches</h2>
                    <ul class="suggested-search-select"></ul>
                </div>
            </div>
            <button id="main-search_btn" type="button" class="main-search-submit search-button" aria-label="search-button"><span class="icon icon-search"></span></button>
        </form>
    </fieldset>
</div>
<script src="js/controls/searchassist_v_7gt_-pd6wcr3kbgpavlt1hiijle81q0zrtmiwxna8tm1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var grs = new GapRecentlySearched("#main-search-form", submitHandler),
            $form = $('.main-search-form'),
            $searchTerm = $("#main-search-term", $form);
        $form.attr('onsubmit', 'AddSearchParametersToQuerystring(this);');
        $(".main-search-submit").on("click", submitHandler);
        function submitHandler() {
            grs.storeTerm();
            $searchTerm.val(searchStrip($searchTerm.val()));
            $form.submit();
        }
    });
</script>
        </div>
    </div>
</header>
    <!-- Header of User account -->
    <div class="site-body">
        <div class="site-container">
<nav class="primary-navigation active">
    <ul>
        <li>
            <span class="top-menu">Browse by Category</span>
            <ul class="sub-menu">
                <li class="menu-back"><span>Back</span></li>
                    <li><a href="en-gb/agricultural-equipment.html">Agricultural equipment</a></li>
                    <li><a href="en-gb/automotive-and-vehicles.html">Automotive & vehicles</a></li>
                    <li><a href="en-gb/automotive-and-vehicles/search-filter_categorycode_clc.html">Classic cars</a></li>
                    <li><a href="en-gb/consumer-goods.html">Consumer goods</a></li>
                    <li><a href="en-gb/food-and-beverage-equipment.html">Food & beverage equipment</a></li>
                    <li><a href="en-gb/industrial.html">Industrial</a></li>
                    <li><a href="en-gb/it-and-electricals.html">IT & electricals</a></li>
                    <li><a href="en-gb/other-industries/search-filter_categorycode_med.html">Medical equipment</a></li>
                    <li><a href="en-gb/metalworking.html">Metalworking</a></li>
                    <li><a href="en-gb/plant-and-machinery.html">Plant & machinery</a></li>
                    <li><a href="en-gb/woodworking.html">Woodworking</a></li>
            </ul>
        </li>
        <li>
            <span class="top-menu">Auctions</span>
            <ul class="sub-menu">
                <li class="menu-back"><span>Back</span></li>
                <li><a href="en-gb/auction-catalogues.html">Current Auctions</a></li>
                <li><a href="en-gb/featured-lots.html" rel="nofollow">Featured Lots</a></li>
            </ul>
        </li>
        <li>
            <a href="en-gb/auctioneers.html" class="top-menu">Auctioneers</a>
        </li>
        <li>
            <a href="en-gb/auction-alerts.html" class="top-menu" rel="nofollow">Auction Alerts</a>
        </li>
        <li>
            <a id="faqs-nav-item" class="top-menu" href="support_subdomain/hc/en-gb.html" target="_blank">Help</a>
        </li>
            <li class="account-link register-link">
                <span class="top-menu" onclick="showLoginBox(&#39;/en-gb&#39;, &#39;/en-gb/my-account/register?callingPageUrl=/en-gb/my-account&#39;); return false;">Register or Sign in</span>
            </li>
    </ul>
</nav>            
            <div id="" class="site-page">
                <!--[if lt IE 8]>
                    &lt;div id=&quot;weakBrowser&quot;&gt;The browser you are currently using is &lt;strong&gt;not supported&lt;/strong&gt; and there may be some features that do not work. &lt;a target=&quot;_blank&quot; href=&quot;//www.google.com/chrome&quot;&gt;Download Google Chrome here&lt;/a&gt;.&lt;/div&gt;
                <![endif]-->
                <!--// Add fullWidth class only to SR home page -->
                <main class="primary-content-area ">
    <div class="homepage">
        <section class="main-items">
            <lots ng-module="gap.lots"></lots>
                <angularcarousel ng-module="gap.angularcarousel"></angularcarousel>
            <div class="homepage-auctions">
                <article class="todays-auctions">
                    <h1>Timed online auctions</h1>
                    <ul>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/eddisons/catalogue-id-eddiso11180.html" rel="nofollow">
                                    <div class="logo"><img src="be473928-10a6-4c85-b1ca-a563010355d6/logo/high res logo for ads.jpg" alt="" /></div>
                                    <div>
                                        <h2>Eddisons</h2>
                                        <h3>Light Commercial Motor Vehicles</h3>
                                        <address>Please check lot description for location, </address>
                                        <span>
Ends today From 10:00am BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/ramco/catalogue-id-ramco-10316.html" rel="nofollow">
                                    <div class="logo"><img src="83b93bcc-448a-47e5-b943-a32300e34841/logo/ramco logo.jpg" alt="" /></div>
                                    <div>
                                        <h2>Ramco UK Limited</h2>
                                        <h3>The Ramco Auction (DELIVERY ONLY) - Over 2000 Lots Available</h3>
                                        <address>Skegness, Lincolnshire</address>
                                        <span>
Ends today From 10:00am BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/pinderassetsolutions/catalogue-id-pinder10082.html" rel="nofollow">
                                    <div class="logo"><img src="3ae196d5-9430-4dc0-9785-a8c500c81582/logo/pinders logo .jpg" alt="" /></div>
                                    <div>
                                        <h2>Pinder Asset Solutions</h2>
                                        <h3>35000litre Diesel Tank, Don-Bur Draw Bar Demount Trailers and 30 Demountable Wagon Boxes</h3>
                                        <address>Leeds, West Yorkshire</address>
                                        <span>
Ends today From 11:00am BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/william-george-auctions/catalogue-id-wi414272.html" rel="nofollow">
                                    <div class="logo"><img src="b9a89091-2d2d-4381-8526-a1ba015ae5e8/logo/square-logo.png" alt="" /></div>
                                    <div>
                                        <h2>William George</h2>
                                        <h3>No Reserve Pallets of Raw Returns I Premium & Standard Small Domestic Appliances, Toys & Furniture - Sourced from John Lewis</h3>
                                        <address>  , Delivery Only</address>
                                        <span>
Ends today From 11:00am BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/robson-kay/catalogue-id-ro10312.html" rel="nofollow">
                                    <div class="logo"><img src="images/logo/robson_kay_logo.jpg" alt="" /></div>
                                    <div>
                                        <h2>Robson Kay Associates Ltd</h2>
                                        <h3>NO RESERVE Mixed Insolvency Sale: Vans, Dropside Tipper, Car, I.T. Equipment, Vaping & other tradestocks and more</h3>
                                        <address>Manchester, M23 9GF</address>
                                        <span>
Ends today From 12:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/jps-surveyors/catalogue-id-jp10604.html" rel="nofollow">
                                    <div class="logo"><img src="e0760f00-5ddf-402d-b022-a1ba00a508c3/logo/jpg_large.jpg" alt="" /></div>
                                    <div>
                                        <h2>JPS Chartered Surveyors</h2>
                                        <h3>Hardware Sale | Electrical Component&#39;s, Bathroom fittings, Tools, Light fittings, Door Furniture, etc. | Sale Ends 18 October 2021</h3>
                                        <address>Manchester, Greater Manchester</address>
                                        <span>
Ends today From 1:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/eddisons/catalogue-id-eddiso11153.html" rel="nofollow">
                                    <div class="logo"><img src="be473928-10a6-4c85-b1ca-a563010355d6/logo/high res logo for ads.jpg" alt="" /></div>
                                    <div>
                                        <h2>Eddisons</h2>
                                        <h3>October Collective Industrial Auction</h3>
                                        <address>Scunthorpe, Lincolnshire</address>
                                        <span>
Ends today From 1:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/globalauctionsuk/catalogue-id-global4-11005.html" rel="nofollow">
                                    <div class="logo"><img src="d474c82f-ad29-41f8-aebc-a9d900cb3a70/logo/logoonpurple.png" alt="" /></div>
                                    <div>
                                        <h2>Global Auctioneers</h2>
                                        <h3>No Reserve - Tile Tuesday - “over &#163;80k worth of tiles – Sourced from Johnsons Tiles” - 19th October 2021</h3>
                                        <address>Manchester,  </address>
                                        <span>
Ends today From 2:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/robson-kay/catalogue-id-ro10313.html" rel="nofollow">
                                    <div class="logo"><img src="images/logo/robson_kay_logo.jpg" alt="" /></div>
                                    <div>
                                        <h2>Robson Kay Associates Ltd</h2>
                                        <h3>NO RESERVE Commercial Catering Equipment Sale</h3>
                                        <address>Manchester, M23 9GF</address>
                                        <span>
Ends today From 2:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/in2corporate/catalogue-id-in2cor10267.html" rel="nofollow">
                                    <div class="logo"><img src="00000000-0000-0000-0000-000000000000/logo/11111_bc1f850b751e23f1599fabad32a92eb8.jpg" alt="" /></div>
                                    <div>
                                        <h2>In2Corporate Ltd</h2>
                                        <h3>Tuesday 19th October - Contents Of An Exclusive Property In Bowden, Cheshire - Includes Kitchen, Bathrooms, Bedrooms</h3>
                                        <address> ,  </address>
                                        <span>
Ends today From 2:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/vfauctions/catalogue-id-vf-auc10012.html" rel="nofollow">
                                    <div class="logo"><img src="31757569-9320-4743-aedd-ad630108c78d/logo/vernon fox auctions.jpg" alt="" /></div>
                                    <div>
                                        <h2>Vernon Fox Auctions</h2>
                                        <h3>TIMED ONLINE AUCTION: Large range of Fashion and Clothing, Fitness and Sports Equipment, Homewares, Tools and much more. FREE UK DELIVERY!</h3>
                                        <address>Rugby, Warwickshire</address>
                                        <span>
Ends today From 4:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/bcva/catalogue-id-ibbc10212.html" rel="nofollow">
                                    <div class="logo"><img src="75f196c4-a777-48bf-b7b2-a2dd01111786/logo/new bcva colour logo.jpg" alt="" /></div>
                                    <div>
                                        <h2>BCVA</h2>
                                        <h3>TIMED ONLINE AUCTION: IT & Electronics including Monitor Extenders, Laptops, Label Printers, Console Games, PC Parts, Audio Electronics & Mo...</h3>
                                        <address>Bristol, </address>
                                        <span>
Ends today From 5:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/globalauctionsuk/catalogue-id-global4-11007.html" rel="nofollow">
                                    <div class="logo"><img src="d474c82f-ad29-41f8-aebc-a9d900cb3a70/logo/logoonpurple.png" alt="" /></div>
                                    <div>
                                        <h2>Global Auctioneers</h2>
                                        <h3>No Reserve - Trader Tuesday ! 19th October 2021</h3>
                                        <address>Manchester,  </address>
                                        <span>
Ends today From 6:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/haddon-and-james/catalogue-id-ibhe13811.html" rel="nofollow">
                                    <div class="logo"><img src="8c561aef-5dcf-4e2e-97c6-a2de007cbcd6/logo/hertfordshire.jpg" alt="" /></div>
                                    <div>
                                        <h2>Haddon & James</h2>
                                        <h3>49cc Petrol Quad Bikes & Dirt Bikes, Huge Professional Tool Cabinets, Petrol Generators, DIY Tool Kits</h3>
                                        <address> ,  Hertfordshire</address>
                                        <span>
Ends today From 7:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/assetauctions/catalogue-id-midlan11014.html" rel="nofollow">
                                    <div class="logo"><img src="eb1b5fff-2c8c-4fb6-8b3d-a29a00d2b01c/logo/asset auctions.jpg" alt="" /></div>
                                    <div>
                                        <h2>Asset Auctions</h2>
                                        <h3>MOTOR FALKE SF25C MOTOR GLIDER, MAN TGL 7.5 TON BOX LORRY, MINI EXCAVATOR RHINOCEROS, OVER 7000 ASSORTED HAIR ITEMS, ALL ENDS FROM 7PM TUESD...</h3>
                                        <address>See Lot Details, UK</address>
                                        <span>
Ends today From 7:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/shepherds/catalogue-id-ibsa15103.html" rel="nofollow">
                                    <div class="logo"><img src="lot-images.atgmedia.com/ib/clientimages/logos/shepherd-logo-2011106151951.jpg" alt="" /></div>
                                    <div>
                                        <h2>Shepherds Auctions</h2>
                                        <h3>New Delivery of Furniture and Sofas From Swoon, Made.com and Cox and Cox</h3>
                                        <address>Radcliffe, Lancashire</address>
                                        <span>
Ends today From 7:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/gascoines/catalogue-id-gascoi10496.html" rel="nofollow">
                                    <div class="logo"><img src="b1a6092a-898a-4da2-8070-a40201094cbf/logo/logo.jpg" alt="" /></div>
                                    <div>
                                        <h2>Gascoines Auctioneers & Valuers (Est. 1954)</h2>
                                        <h3>Sale of Homewares items from Popular Online Retailers. Brands inc. Wayfair Made.com</h3>
                                        <address>Newark, Nottinghamshire</address>
                                        <span>
Ends today From 7:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/shepherds/catalogue-id-ibsa15099.html" rel="nofollow">
                                    <div class="logo"><img src="lot-images.atgmedia.com/ib/clientimages/logos/shepherd-logo-2011106151951.jpg" alt="" /></div>
                                    <div>
                                        <h2>Shepherds Auctions</h2>
                                        <h3>Pallets of BER and Faulty Furniture from Made.com, Swoon and more</h3>
                                        <address>Radcliffe, Lancashire</address>
                                        <span>
Ends today From 7:10pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/supremeauctions/catalogue-id-suprem10211.html" rel="nofollow">
                                    <div class="logo"><img src="bfaadd80-ba4f-4431-a1fb-ac3300bc2fbe/logo/supreme logo.png" alt="" /></div>
                                    <div>
                                        <h2>Supreme Auctions</h2>
                                        <h3>TRADE LIQUIDATIONS SALE INCLUDING VEHICLES, TOOLS, BRANDED CLOTHING, CHILDRENS CLOTHING, ELECTRICALS, TOYS, LAPTOPS, DIY, SAFETY EQUIPMENT E...</h3>
                                        <address>Sheffield,  </address>
                                        <span>
Ends today From 7:30pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/timed/coreva/catalogue-id-coreva10089.html" rel="nofollow">
                                    <div class="logo"><img src="434fa4fb-b236-48c6-a116-acb100f88669/logo/logo.png" alt="" /></div>
                                    <div>
                                        <h2>*Alexander Aurelius Auctioneers*</h2>
                                        <h3>General Sales I Video Consoles,Games, Home Improvement & Wireless Products I Apple, Nintendo, Fifa, MSI, Sony, Samsung, Fitbit, Thrustmaster</h3>
                                        <address>Colchester, Essex</address>
                                        <span>
Ends today From 8:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                        <li><a href="en-gb/auction-catalogues_auctiontype_timed.html" rel="nofollow">See all timed online auctions</a></li>
                    </ul>
                </article>
                <article class="todays-auctions">
                    <h1>Live webcast auctions</h1>
                    <ul>
                            <li>
                                <a href="en-gb/auction-catalogues/angliamodern/catalogue-id-anglia2-10055.html" rel="nofollow">
                                    <div class="logo"><img src="0da4ae59-9cc4-46a5-b382-ac4e00c77a5a/logo/aca logo.jpg" alt="" /> </div>
                                    <div>
                                        <h2>Anglia Modern Car Auctions</h2>
                                        <h3>Wednesday 20th October 6pm &#163;200 refundable deposit required</h3>
                                        <address>King&#39;s Lynn, Norfolk</address>
                                        <span>
Starts 20 Oct at 6:00pm BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/brown-and-co/catalogue-id-ibbr10079.html" rel="nofollow">
                                    <div class="logo"><img src="51721bf3-4e24-4c8a-a7a2-a2dd0170b6f1/logo/2016 low res website logo.jpg" alt="" /> </div>
                                    <div>
                                        <h2>Brown & Co</h2>
                                        <h3>Dispersal Sale by Auction of Farm Machinery and Livestock Equipment</h3>
                                        <address> , Leicestershire</address>
                                        <span>
Starts 21 Oct at 10:30am BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/wellersfineart/catalogue-id-weller10145.html" rel="nofollow">
                                    <div class="logo"><img src="2409eea9-6590-4595-96fe-a53700a5e294/logo/wellers auctions logo - copy.jpg" alt="" /> </div>
                                    <div>
                                        <h2>Wellers Auctions</h2>
                                        <h3>Friday Antiques Auction</h3>
                                        <address>Guildford, Surrey</address>
                                        <span>
Starts 22 Oct at 9:00am BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/east-bristol-auctions/catalogue-id-sreas10516.html" rel="nofollow">
                                    <div class="logo"><img src="cc08f29e-1632-4c60-9eeb-a3f400aaf2c4/logo/east-bristol-auctions-logo-edited-1.jpg" alt="" /> </div>
                                    <div>
                                        <h2>East Bristol Auctions</h2>
                                        <h3>Toy Auction - Including Star Wars, Diecast, Trains & More</h3>
                                        <address>Bristol, </address>
                                        <span>
Starts 22 Oct at 9:55am BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/peacock-auctioneers/catalogue-id-whpav11120.html" rel="nofollow">
                                    <div class="logo"><img src="de3e8b81-2f30-4cb7-b4c2-a1b90164300e/logo/w_h peacock logo.jpg" alt="" /> </div>
                                    <div>
                                        <h2>W&H Peacock Auctioneers & Valuers</h2>
                                        <h3>Saleroom 2 Electrical & Collectable Items</h3>
                                        <address>Bedford, Bedfordshire</address>
                                        <span>
Starts 23 Oct at 10:00am BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/thimbleby-and-shorland/catalogue-id-ibts10273.html" rel="nofollow">
                                    <div class="logo"><img src="0d504554-8e87-434a-a3d6-a2de0085281f/logo/thimblebylogo.gif-201091111117.gif" alt="" /> </div>
                                    <div>
                                        <h2>Thimbleby & Shorland</h2>
                                        <h3>Horse-Drawn Vehicles, Saddlery and Tack, Harness, Sundry Accoutrements, Equestrian Pictures, Models & Books</h3>
                                        <address>Reading, Berkshire</address>
                                        <span>
Starts 27 Oct at 9:30am BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/thimbleby-and-shorland/catalogue-id-ibts10272.html" rel="nofollow">
                                    <div class="logo"><img src="0d504554-8e87-434a-a3d6-a2de0085281f/logo/thimblebylogo.gif-201091111117.gif" alt="" /> </div>
                                    <div>
                                        <h2>Thimbleby & Shorland</h2>
                                        <h3>Horse-Drawn Vehicles, Saddlery and Tack, Harness, Sundry Accoutrements, Equestrian Pictures, Models & Books</h3>
                                        <address>Reading, Berkshire</address>
                                        <span>
Starts 27 Oct at 11:00am BST                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/pro-auction/catalogue-id-pr10370.html" rel="nofollow">
                                    <div class="logo"><img src="media.globalauctionplatform.com/5a2c158c-d3ba-48e3-884b-a1b9015cabf8/logo/logo.gif" alt="" /> </div>
                                    <div>
                                        <h2>Pro Auction Limited</h2>
                                        <h3>Entire Contents of Treloyhan Manor Hotel  Carbis Bay Cornwall - Guest Rooms, Public Spaces, Restaurant Kitchens and Bar</h3>
                                        <address>St Ives,, Cornwall</address>
                                        <span>
Starts 03 Nov at 10:30am GMT                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/anglia-car-auctions/catalogue-id-anglia1-10019.html" rel="nofollow">
                                    <div class="logo"><img src="347a9625-93ff-41e5-8302-abcd00aefcd8/logo/aca logo.jpg" alt="" /> </div>
                                    <div>
                                        <h2>Anglia Car Auctions Ltd</h2>
                                        <h3>2 Day Classic Car Auction</h3>
                                        <address>Kings Lynn, Norfolk</address>
                                        <span>
Starts 06 Nov at 11:00am GMT                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/bscerke/catalogue-id-erkele10111.html" rel="nofollow">
                                    <div class="logo"><img src="25b0909e-3035-4c92-99b3-a63c015767f7/logo/e_opalletauctionsshortlogo.png" alt="" /> </div>
                                    <div>
                                        <h2>Erkelens & Olson Auctioneers</h2>
                                        <h3>(POSTPONED) LIVE & ONLINE AUCTION of Exotic Vehicles11-13-2021</h3>
                                        <address>Salt Lake City, Utah</address>
                                        <span>
Starts 13 Nov at 11:00am MT                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/pro-auction/catalogue-id-pr10372.html" rel="nofollow">
                                    <div class="logo"><img src="media.globalauctionplatform.com/5a2c158c-d3ba-48e3-884b-a1b9015cabf8/logo/logo.gif" alt="" /> </div>
                                    <div>
                                        <h2>Pro Auction Limited</h2>
                                        <h3>Interiors Furniture Autumn / Winter Season Clearance Sale - Living, Bedroom and Dining Ranges with Stunning Accessories & Textiles</h3>
                                        <address>Bath, Somerset</address>
                                        <span>
Starts 16 Nov at 10:30am GMT                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/pro-auction/catalogue-id-pr10373.html" rel="nofollow">
                                    <div class="logo"><img src="media.globalauctionplatform.com/5a2c158c-d3ba-48e3-884b-a1b9015cabf8/logo/logo.gif" alt="" /> </div>
                                    <div>
                                        <h2>Pro Auction Limited</h2>
                                        <h3>Entire Contents of Dare Valley Country Park</h3>
                                        <address>Rhondda Cynon Taf, </address>
                                        <span>
Starts 18 Nov at 11:00am GMT                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="en-gb/auction-catalogues/pro-auction/catalogue-id-pr10371.html" rel="nofollow">
                                    <div class="logo"><img src="media.globalauctionplatform.com/5a2c158c-d3ba-48e3-884b-a1b9015cabf8/logo/logo.gif" alt="" /> </div>
                                    <div>
                                        <h2>Pro Auction Limited</h2>
                                        <h3>Eynsham Park Estate  - Furniture, Fittings & Artwork Consigned for Auction</h3>
                                        <address>Bath, Somerset</address>
                                        <span>
Starts 25 Nov at 10:30am GMT                                        </span>
                                    </div>
                                </a>
                            </li>
                        <li><a href="en-gb/auction-catalogues_auctiontype_live.html" rel="nofollow">See all live webcast auctions</a></li>
                    </ul>
                </article>
            </div>
        </section>
    </div>
                    <!-- jump to top -->
                    <a href="javascript:" id="jumpToTop"><i class="icon arrow up"></i></a>
                    <!-- /jump to top -->
                </main>
    <section class="panel recently-viewed hide ">
        <h2 class="recently-viewed-header">Recently Viewed Lots</h2>
        <button class="clear button transparent" onclick="javascript:recentlyViewedRemoveAll();">Clear all</button>
        <div id="recentLotCarousel"></div>
    </section>
<footer class="ui page footer primary-footer" role="contentinfo">
    <div class="ui vertical stripe">
        <div class="ui container">
            <div class="contact-and-social">
                <section>
                    <h2>Need help?</h2>
                    <a id="" href="support_subdomain/hc/en-gb.html" target="_blank">Contact Customer Service</a>
                </section>
                <section class="site-links">
                    <ul>
                        <li><a href="https://www.bidspotter.co.uk/" target="_blank">BidSpotter.co.uk</a></li>
                        <li><a href="https://www.the-saleroom.com/" target="_blank">the-saleroom.com</a></li>
                        <li><a href="https://www.antiquestradegazette.com/" target="_blank">Antiques Trade Gazette</a></li>
                        <li><a href="https://www.auctiontechnologygroup.com/" target="_blank">Auction Technology Group</a></li>
                    </ul>
                </section>
                <section>
                    <ul class="glyphs character-mapping">
                        <li class="sn-facebook">
                        <a href="https://www.facebook.com/pages/i-biddercom/693863007333367" rel="nofollow" target="_blank" class="icon" data-icon="a" title="Facebook">
                            <span class="a11y">Facebook</span>
                        </a>
                        </li>
                        <li class="sn-twitter">
                        <a href="http://twitter.com/ibidder" rel="nofollow" target="_blank" class="icon" data-icon="I" title="Twitter">
                            <span class="a11y">Twitter</span>
                        </a>
                        </li>
                        <li class="sn-linkedin">
                        <a href="https://www.linkedin.com/company/atg-media_2/" rel="nofollow" target="_blank" class="icon" data-icon="L" title="LinkedIn">
                            <span class="a11y">LinkedIn</span>
                        </a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
            <div class="ui vertical stripe small navigation">
                <div class="ui container">
                    <ul role="navigation">
                        <li><a href="en-gb/about-us/contact-us.html" rel="nofollow">Contact Us</a></li>
                        <li><a href="en-gb/about-us/legal/website-terms-and-conditions.html" rel="nofollow">Legal</a></li>
                        <li><a href="en-gb/about-us/legal/cookie-policy.html" rel="nofollow">Cookies</a></li>
                        <li><a href="en-gb/about-us.html" rel="nofollow">About Us</a></li>
                        <li><a href="en-gb/sitemap.html">Site Map</a></li>
                            <li><a href="en-gb/directories.html">Auction Lot Directory</a></li>
                                            </ul>
                    <form class="change-culture">
                        <label for="cultureList">Select Language <span class="flag flag-en-gb"></span></label>
                        <select id="cultureList" name="cultureList" onchange="Gap.Common.ReplaceLanguage(&#39;en-gb&#39;, this.value);"><option selected="selected" value="en-gb">English</option>
<option value="fr-fr">Fran&#231;ais</option>
<option value="de-de">Deutsch</option>
<option value="it-it">Italiano</option>
<option value="es-es">Espa&#241;ol</option>
</select>
                    </form>
                    <div class="copy">Copyright &copy; Metropress Ltd, (t/a Auction Technology Group) 2021</div>
                </div>
            </div>
</footer>            </div>
        </div>
        <!--Responsive JS Flag - Only used for functionality to switch between breakpoints - Do not change styling or remove this as will affect JS Functionality - associated js in breakpoint-checker.js -->
        <div id="responsive-js-flag"></div>
    </div>
    <!-- JS -->
<script src="js/layout/responsive-sitewidescripts_v_s_gskot9hcz0dkqgfiup-yeelgtkshjahezfsngf-fa1.js"></script>    
<script type="text/javascript" id="loginScript">
    Gap.Portal.UI.SiteLoginProperties = {
        anErrorOccured: 'Sorry, an error occurred.',
        returnURL: ' https://www.i-bidder.com/en-gb',
        resendVerificationLink: '/en-gb/my-account/resendverificationemail',
        registerLink: '/en-gb/my-account/register',
        portalName: 'i-bidder.com',
        platformCode: 'IB'
    };
</script>
        <script type="text/javascript">
        $(function () {
            window.ssoRedirect = true;
            window.ssoRedirectLoginUrl = "https://www.i-bidder.com/en-gb/my-account/login";
        });
    </script>
    <script src="js/lib/semantic-modal_v_w3tezuo1q_tr2-ra4oeutngzpchneyrnd_tppe-c89c1.js"></script>
    <script src="js/home/index_v_uncspjiledncc8kwdmfiutwurso90y5xkegm_nsdnj01.js"></script>
    <script src="js/filters_v_8vibsv7uluzhr6pirxo-bcpnplxeatn47pswcxewjqm1.js"></script>
    <script src="js/gap.lots_v_-nzhj_5rwgkoxcbavvwoq2h15tgwhvkrtd2mcfl93s81.js"></script>
    <script src="js/gap.angularcarousel_v_zuonafaffdna2nemxud4eduh8rxkv7axnwfbf-gcj-s1.js"></script>
    <script type="text/ng-template" id="homepageLotsTemplate">
        <div class="homepage-items">
    <section class="lot-items">
        <article ng-repeat="item in items" class="homepage-item">
            <a href="{{item.itemLink}}" class="main-link">
                <h2>{{item.sector}}</h2>
                <span class="title-box">
                    <h3>{{item.heading}}</h3>
                    <p>{{item.time}}</p>
                </span>
                <span class="image">
                    <span class="image-horizontal">
                        <span class="image-vertical">
                            <img ng-src="{{item.mainImage | image:'540x360'}}" />
                        </span>
                    </span>
                </span>
            </a>
            <div class="second-link">
                <a href="{{item.similarItemsLink}}">{{item.similarItemsText}}</a>
            </div>
        </article>
    </section>
</div>
    </script>
    <script type="text/ng-template" id="homepageBannerTemplate">
        <div class="homepage-banners">
    <div class="item-carousel">
        <ul rn-carousel rn-carousel-controls rn-carousel-index="carousel.index" rn-carousel-auto-slide="6">
            <li ng-swipe-left="swiping=true" ng-swipe-right="swiping=true" ng-repeat="item in items">
                <article class="homepage-banner-item">
                    <a href="{{::item.itemLink}}" class="main-link">
                        <span class="title-box" ng-if="::item.heading || item.date">
                            <h2>{{::item.heading}}</h2>
                            <p>{{::item.date}}</p>
                        </span>
                        <span class="image">
                            <span class="image-horizontal">
                                <span class="image-vertical" ng-style="{'background-image':'url({{item.mainImage | image:''}})'}"></span>
                            </span>
                        </span>
                    </a>
                </article>
            </li>
        </ul>
        <div rn-carousel-indicators slides="items" rn-carousel-index="carousel.index"></div>
    </div>
</div>
    </script>
    <script type="text/javascript">
        var lotConstantsModule = angular.module('gap.lots.constants', []);
        lotConstantsModule.constant('configUrl', 'https://www.i-bidder.com/en-gb/marketplace-content/lots');
        lotConstantsModule.constant('staticTemplate', $('script#homepageLotsTemplate').html());
        var carouselConstantModule = angular.module('gap.angularcarousel.constants', []);
        carouselConstantModule.constant('configUrl', 'https://www.i-bidder.com/en-gb/marketplace-content/banners');
        carouselConstantModule.constant('staticTemplate', $('script#homepageBannerTemplate').html());
    </script>
<center><font size="2">This is the free demo result. For a full version of this website, please go to  <a href="https://www6.waybackmachinedownloader.com/website-downloader-online/scrape-all-files/">Website Downloader</a></font></center></body>
    </html>
